/*sobre mi------------------------------------------------------------------*/

.body-sobre-mi {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

.main-sobre-mi {
  margin-bottom: auto;
}

.justify {
  text-align: justify;
}

/*------------------Aplicacion de @Mixin----------------*/

@mixin sobremi-base-flex($margin, $font-size) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: $margin;
  font-size: $font-size;
}

@mixin sobremi-base-grid($margin, $font-size) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "titulo-sub img"
    "section-formacion section-formacion"
    "section-metodologia section-metodologia"
    "section-valores section-valores";
  row-gap: 15px;
  gap: 0, 75rem;
  align-items: center;
  margin: $margin;
  font-size: $font-size;
}

@mixin section-base($padding, $margin, $bg-color) {
  padding: $padding;
  margin: $margin;
  background-color: $bg-color;
}

/* Sobre mi - Para pantallas extra pequeñas <576px*/

@media (max-width: 575.98px) {
  .container-sobremi {
    @include sobremi-base-flex(10px, 16px);
  }

  .h1-sobremi {
    text-decoration: underline;
  }

  .titulo-sub {
    margin: 10px;
  }

  .section-formacion {
    @include section-base(10px, 10px, rgb(143, 162, 201));
  }

  .section-metodologia {
    @include section-base(10px, 10px, rgb(113, 143, 200));
  }

  #section-valores {
    @include section-base(10px, 10px, rgb(135, 162, 196));
  }

  .img-mifoto {
    width: 100%;
    height: auto;
    margin: auto;
  }
}

/* Sobre mi - Para pantallas intermedias ≥577px*/

@media (min-width: 576px) and (max-width: 1023.98px) {
  .container-sobremi {
    @include sobremi-base-grid(20px, 18px);
  }

  .h1-sobremi {
    text-decoration: underline;
  }

  .titulo-sub {
    grid-area: titulo-sub;
    text-align: center;
    margin: 15px;
  }

  .section-formacion {
    @include section-base(15px, 0, rgb(143, 162, 201));
    grid-area: section-formacion;
  }

  .section-metodologia {
    @include section-base(15px, 0, rgb(113, 143, 200));
    grid-area: section-metodologia;
  }

  #section-valores {
    @include section-base(15px, 0, rgb(135, 162, 196));
    grid-area: section-valores;
  }

  .img-mifoto {
    grid-area: img;
    width: 100%;
    height: auto;
    margin: auto;
  }
}

/* Sobre mi - Para pantallas grandes ≥1024 */

@media (min-width: 1024px) and (max-width: 1399.98px) {
  .container-sobremi {
    @include sobremi-base-grid(30px, 20px);
    grid-template-areas:
      "titulo-sub titulo-sub"
      "section-formacion img"
      "section-metodologia img"
      "section-valores section-valores";
    row-gap: 20px;
    gap: 1rem;
  }

  .h1-sobremi {
    text-decoration: underline;
  }

  .titulo-sub {
    grid-area: titulo-sub;
    text-align: center;
    margin: 20px;
  }

  .section-formacion {
    @include section-base(30px, 0, rgb(143, 162, 201));
    grid-area: section-formacion;
  }

  .section-metodologia {
    @include section-base(20px, 0, rgb(113, 143, 200));
    grid-area: section-metodologia;
  }

  #section-valores {
    @include section-base(20px, 0, rgb(135, 162, 196));
    grid-area: section-valores;
  }

  .img-mifoto {
    grid-area: img;
    width: 100%;
    height: auto;
    margin: auto;
  }
}

/* Sobre mi - Para pantallas extra grandes ≥1400 */

@media (min-width: 1400px) {
  .container-sobremi {
    @include sobremi-base-grid(45px, 22px);
    grid-template-areas:
      "titulo-sub titulo-sub"
      "section-formacion img"
      "section-metodologia img"
      "section-valores section-valores";
    gap: 30px;
  }

  .h1-sobremi {
    text-decoration: underline;
  }

  .titulo-sub {
    grid-area: titulo-sub;
    text-align: center;
    margin: 35px;
  }

  .section-formacion {
    @include section-base(45px, 0, rgb(143, 162, 201));
    grid-area: section-formacion;
  }

  .section-metodologia {
    @include section-base(35px, 0, rgb(113, 143, 200));
    grid-area: section-metodologia;
  }

  #section-valores {
    @include section-base(35px, 0, rgb(135, 162, 196));
    grid-area: section-valores;
  }

  .img-mifoto {
    grid-area: img;
    width: 100%;
    max-width: 650px;
    height: auto;
    margin: auto;
  }
}
